[submodule "Service_Login"]
	path = Service_Login
	url = https://github.com/NYCU-CloudNative26-ConfigSystem/Service_Login.git
[submodule "Service_SSOT"]
	path = Service_SSOT
	url = https://github.com/NYCU-CloudNative26-ConfigSystem/Service_SSOT.git
[submodule "Service_Config_Table"]
	path = Service_Config_Table
	url = https://github.com/NYCU-CloudNative26-ConfigSystem/Service_Config_Table.git
[submodule "Service_FrontendUI"]
	path = Service_FrontendUI
	url = https://github.com/NYCU-CloudNative26-ConfigSystem/Frontend_UI.git
