[submodule "Service_Login"]
	path = Service_Login
	url = ../Service_Login
[submodule "Service_SSOT"]
	path = Service_SSOT
	url = ../Service_SSOT
[submodule "Service_IAmATestPage"]
	path = Service_IAmATestPage
	url = ../Service_IAmATestPage
